.intel-setup .plugin-card.action-buttons-only {
    float: none;
    width: auto;
    background-color: inherit;
    border: none;
    display: table;
    margin: 0;
}

.intel-setup .plugin-card.action-buttons-only .action-links {
    position: static;
    top: 0;
    right: 0;
    width: auto;
    margin-left: 0;
}

.intel-setup .plugin-card.action-buttons-only .action-links .plugin-action-buttons {
    margin-bottom: 0;
}

.intel-setup .plugin-card.action-buttons-only ul.plugin-action-buttons {
    margin-top: 0;
    margin-left: 0;
}

.intel-setup .plugin-card.action-buttons-only ul.plugin-action-buttons li {
    display: inline;
    padding-right: 1em;
    display: table-cell;
    vertical-align: middle;
}

.intel-setup .plugin-card .action-links .btn {
    height: auto;
}

.intel-setup .plugin-card .action-links .btn-success[disabled],
.intel-setup .plugin-card .action-links .btn-success:disabled {
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
    text-shadow: none !important;
}

