.intel-setup .alert,
.intel-setup.alert {
    background: #fff;
    border-left: 4px solid #fff;
    box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
    margin: 5px 0 15px;
    padding: 1px 12px;
}

.intel-setup .alert.alert-error,
.intel-setup.alert.alert-error {
    border-left-color: #dc3232;
}

.intel-setup .alert.alert-warning,
.intel-setup.alert.alert-warning {
    border-left-color: #ffb900;
}

.intel-setup .alert.alert-warning,
.intel-setup.alert.alert-warning {
    border-left-color: #46b450;
}

.intel-setup .alert.alert-info,
.intel-setup.alert.alert-info {
    border-left-color: #00a0d2;
}